<%= form_with(model: departamento) do |form| %>
  <% if departamento.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(departamento.errors.count, "error") %> prohibited this departamento from being saved:</h2>

      <ul>
        <% departamento.errors.each do |error| %>
          <li><%= error.ful_mlessage %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-5">  
        <%= form.label :nome, style: "display: block" %>
        <%= form.text_field :nome, class:"form-control" %>
      </div>
    </div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
