<p style="color: green"><%= notice %></p>

<%= render @produto %>

<div>
  
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Nome</td>
            <td>Departamento</td>
            <td>Descrição</td>
            <td>Preço</td>
            <td>Quatidade</td>
            <td colspan="2"></td>
        </tr>
    </thead>
    <tbody>
        <%= render @produto %>
    </tbody>
</table> 
  <%= link_to "Editar", edit_departamento_path(@produto), class:"btn btn-default" %>
  <%= link_to "Voltar", departamentos_path, class:"btn btn-default"  %>
</div>
